#navbar {
	position: fixed;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100px;
    background-color: #222222;
	border-radius: 30px;
	cursor: pointer;
}
	#navbar .sectionSymbol
	{
		background-size: 60% 60%; 
		margin: 0 auto;
		width: 100px;
		height: 100px;
		border-radius: 50%;
	}
		#navbar .sectionSymbol img
		{
			width: 70%;
			height: 70%;
			margin: 15%;
		}
	#navbar #sectionSymbol1
	{
		background: #222222;
	}
	#navbar #sectionSymbol2
	{
		background: #222222;
	}
	#navbar #sectionSymbol3
	{
		background: #222222;
	}
